# pycharm
.idea

# python
venv
__pycache__

# allure
allure-results
allure-report
.ai-review.yaml

# testing artifacts
*.html
*.json
videos
tracing
playwright_basic
pytest
prompts
for_api_tests

# coverage
coverage.html
coverage-results